.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  & button {
    margin-top: 2rem;
    padding: .5rem 1rem;
    background: #000;
    border: solid 1px #585858;
    border-radius: .5rem;
    user-select: none;
    cursor: pointer;
    transition: .15s;

    &:hover {
      transform: scale(1.08);
      background: #272727;
    }
  }
}
